.communes_details {
   display: none;
}

ul#communes {
	list-style: none;
	background: url(../img/communes.png) no-repeat 0 0;
	position: relative;
	width: 600px;
	height: 450px;
	margin: 0;
	padding: 0;
}

ul#communes li {
	border: 1px solid #000;
	position: absolute;
}

ul#communes li a{
	display: block;
	height: 100%;
	text-indent: -9000px;
}

ul#communes li a span{
    display: none;
}
/*
ul#communes li a:hover span{
    display: block;
    padding: 5px;
	width: 150px;
	background: #000;
	position: relative;
	top: 50%;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .75;
	filter:alpha(opacity=75);
	color: #FFF;
}
*/
ul#communes li a:hover {
	background: url(../img/communes.png) no-repeat 0 0;
}

ul#communes li#bassegoulaine a:hover {
	background-position: -445px -1041px;
}

ul#communes li#bouaye a:hover {
	background-position: 0px 0px;
}

ul#communes li#bouguenais a:hover {
	background-position: 0px 0px;
}

ul#communes li#brains a:hover {
	background-position: 0px 0px;
}

ul#communes li#carquefou a:hover {
	background-position: -400px -1206px;
}

ul#communes li#coueron a:hover {
	background-position: 0px 0px;
}

ul#communes li#indre a:hover {
	background-position: 0px 0px;
}

ul#communes li#chapelle-sur-erdre a:hover {
	background-position: 0px 0px;
}

ul#communes li#montagne a:hover {
	background-position: 0px 0px;
}

ul#communes li#pellerin a:hover {
	background-position: 0px 0px;
}

ul#communes li#sorinieres a:hover {
	background-position: 0px 0px;
}

ul#communes li#mauves-sur-loire a:hover {
	background-position: -494px -675px;
}

ul#communes li#nantes a:hover {
	background-position: -330px -1580px;
}

ul#communes li#orvault a:hover {
	background-position: 0px 0px;
}

ul#communes li#reze a:hover {
	background-position: 0px 0px;
}

ul#communes li#saint-aignan-grand-lieu a:hover {
	background-position: 0px 0px;
}

ul#communes li#saint-herblain a:hover {
	background-position: 0px 0px;
}

ul#communes li#saint-jean-de-boisseau a:hover {
	background-position: 0px 0px;
}

ul#communes li#saint-leger-les-vignes a:hover {
	background-position: 0px 0px;
}

ul#communes li#saint-sebastien-sur-loire a:hover {
	background-position: -396px -1958px;
}

ul#communes li#sainte-luce a:hover {
	background-position: -435px -1394px;
}

ul#communes li#sautron a:hover {
	background-position: 0px 0px;
}

ul#communes li#thouare a:hover {
	background-position: -472px -1740px;
}

ul#communes li#vertou a:hover {
	background-position: 0px 0px;
}

#bassegoulaine {
    width: 50px;
    height: 84px;
    top: 214px;
    left: 443px;
}

#bouaye {
    width: px;
    height: px;
    top: px;
    left: px;
}

#bouguenais {
    width: px;
    height: px;
    top: px;
    left: px;
}

#brains {
    width: px;
    height: px;
    top: px;
    left: px;
}

#carquefou {
    width: 129px;
    height: 108px;
    top: 76px;
    left: 400px;
}

#coueron {
    width: px;
    height: px;
    top: px;
    left: px;
}

#indre {
    width: px;
    height: px;
    top: px;
    left: px;
}

#chapelle-sur-erdre {
    width: px;
    height: px;
    top: px;
    left: px;
}

#montagne {
    width: px;
    height: px;
    top: px;
    left: px;
}

#pellerin {
    width: px;
    height: px;
    top: px;
    left: px;
}

#sorinieres {
    width: px;
    height: px;
    top: px;
    left: px;
}

#mauves-sur-loire {
    width: 84px;
    height: 88px;
    top: 63px;
    left: 493px;
}

#nantes {
    width: 100px;
    height: 120px;
    top: 165px;
    left: 325px;
}

#orvault {
    width: px;
    height: px;
    top: px;
    left: px;
}

#reze {
    width: px;
    height: px;
    top: px;
    left: px;
}

#saint-aignan-grand-lieu {
    width: px;
    height: px;
    top: px;
    left: px;
}

#saint-herblain {
    width: px;
    height: px;
    top: px;
    left: px;
}

#saint-jean-de-boisseau {
    width: px;
    height: px;
    top: px;
    left: px;
}

#saint-leger-les-vignes {
    width: px;
    height: px;
    top: px;
    left: px;
}

#saint-sebastien-sur-loire {
    width: 58px;
    height: 59px;
    top: 235px;
    left: 395px;
}

#sainte-luce {
    width: 54px;
    height: 74px;
    top: 158px;
    left: 433px;
}

#sautron {
    width: px;
    height: px;
    top: px;
    left: px;
}

#thouare {
    width: 70px;
    height: 64px;
    top: 132px;
    left: 470px;
}

#vertou {
    width: px;
    height: px;
    top: px;
    left: px;
}
