.communes_details {
   display: none;
}

ul#communes {
	list-style: none;
	background: url(../img/communes.png) no-repeat 0 0;
	position: relative;
	width: 600px;
	height: 450px;
	margin: 0;
	padding: 0;
}

ul#communes li {
	position: absolute;
}

ul#communes li a{
	display: block;
	height: 100%;
    text-decoration: none;
}

ul#communes li a span{
    display: none;
}

ul#communes li a:hover span{
    display: block;
    padding: 5px;
	width: 150px;
	background: #000;
	position: relative;
	top: 50%;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .75;
	filter:alpha(opacity=75);
	color: #FFF;
}

ul#communes li a:hover {
	background: url(../img/communes.png) no-repeat 0 0;
}

ul#communes li#bassegoulaine a:hover {
	background-position: -443px -1041px;
}

ul#communes li#bouaye a:hover {
	background-position: -213px -1112px;
}

ul#communes li#bouguenais a:hover {
	background-position: -244px -940px;
}

ul#communes li#brains a:hover {
	background-position: -150px -1570px;
}

ul#communes li#carquefou a:hover {
	background-position: -400px -1206px;
}

ul#communes li#coueron a:hover {
	background-position: -74px -668px;
}

ul#communes li#chapelle-sur-erdre a:hover {
	background-position: -338px -1770px;
}

ul#communes li#montagne a:hover {
	background-position: -226px -1042px;
}

ul#communes li#pellerin a:hover {
	background-position: -05px -481px;
}

ul#communes li#sorinieres a:hover {
	background-position: -374px -772px;
}

ul#communes li#mauves-sur-loire a:hover {
	background-position: -493px -675px;
}

ul#communes li#nantes a:hover {
	background-position: -285px -1548px;
}

ul#communes li#orvault a:hover {
	background-position: -269px -1208px;
}

ul#communes li#reze a:hover {
	background-position: -328px -621px;
}

ul#communes li#saint-aignan-grand-lieu a:hover {
	background-position: -258px -1957px;
}

ul#communes li#saint-herblain a:hover {
	background-position: -248px -1344px;
}

ul#communes li#saint-jean-de-boisseau a:hover {
	background-position: -173px -805px;
}

ul#communes li#saint-leger-les-vignes a:hover {
	background-position: -178px -1290px;
}

ul#communes li#saint-sebastien-sur-loire a:hover {
	background-position: -395px -1958px;
}

ul#communes li#sainte-luce a:hover {
	background-position: -433px -1394px;
}

ul#communes li#sautron a:hover {
	background-position: -211px -504px;
}

ul#communes li#thouare a:hover {
	background-position: -470px -1740px;
}

ul#communes li#vertou a:hover {
	background-position: -400px -887px;
}

ul#communes li#indre a:hover {
	background-position: -230px -1495px;
}

#bassegoulaine {
    width: 50px;
    height: 84px;
    top: 214px;
    left: 443px;
}

#bouaye {
    width: 67px;
    height: 74px;
    top: 304px;
    left: 214px;
}

#bouguenais {
    width: 122px;
    height: 68px;
    top: 275px;
    left: 244px;
}

#brains {
    width: 98px;
    height: 48px;
    top: 282px;
    left: 149px;
}

#carquefou {
    width: 129px;
    height: 108px;
    top: 76px;
    left: 400px;
}

#coueron {
    width: 199px;
    height: 101px;
    top: 154px;
    left: 80px;
}

#indre {
    width: 50px;
    height: 34px;
    top: 246px;
    left: 229px;
}

#chapelle-sur-erdre {
    width: 68px;
    height: 150px;
    top: 40px;
    left: 338px;
}

#montagne {
    width: 32px;
    height: 41px;
    top: 263px;
    left: 225px;
}

#pellerin {
    width: 172px;
    height: 161px;
    top: 124px;
    left: 5px;
}

#sorinieres {
    width: 60px;
    height: 71px;
    top: 322px;
    left: 372px;
}

#mauves-sur-loire {
    width: 84px;
    height: 88px;
    top: 63px;
    left: 493px;
}

#nantes {
    width: 162px;
    height: 174px;
    top: 128px;
    left: 285px;
}

#orvault {
    width: 86px;
    height: 106px;
    top: 104px;
    left: 268px;
}

#reze {
    width: 80px;
    height: 75px;
    top: 271px;
    left: 328px;
}

#saint-aignan-grand-lieu {
    width: 89px;
    height: 83px;
    top: 331px;
    left: 258px;
}

#saint-herblain {
    width: 96px;
    height: 99px;
    top: 180px;
    left: 248px;
}

#saint-jean-de-boisseau {
    width: 64px;
    height: 49px;
    top: 249px;
    left: 172px;
}

#saint-leger-les-vignes {
    width: 52px;
    height: 55px;
    top: 319px;
    left: 180px;
}

#saint-sebastien-sur-loire {
    width: 58px;
    height: 59px;
    top: 235px;
    left: 395px;
}

#sainte-luce {
    width: 54px;
    height: 74px;
    top: 158px;
    left: 433px;
}

#sautron {
    width: 71px;
    height: 80px;
    top: 114px;
    left: 210px;
}

#thouare {
    width: 70px;
    height: 64px;
    top: 132px;
    left: 470px;
}

#vertou {
    width: 115px;
    height: 110px;
    top: 288px;
    left: 400px;
}
